.search-form {
  display: block;
  justify-content: center;
  margin-top: 20px;
}

.search-input {
  height: 40px;
  width: 300px;
  margin-left: 400px;
}
.search-btn {
  height: 40px;
  width: 100px;
}
